html{
 height: 100%;
 width: 100%;
}

body {
  background-color: #F8F3BC;
  width: 100%;
  height: 100%;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}

header {
  padding: 20px 0;
}

header.row {
  display: flex;
  align-items: right;
}

footer.containter-fluid {
  display: flex;
  align-items: right;
}

h1 {
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-family: 'EB Garamond', serif;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: #F8F3BC;
  border-bottom: #d73e39 solid 1px;
}

a.contact-button {
  padding: 0 20px;
  margin: 0;
  font-size: 24px;
  font-family: 'EB Garamond', serif;
}

a {
  color: #007bff;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url(Jumbotron_Image.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  height: 400px;
  margin-top: 80px;
 }

.jumbotron h2 {
  font-family: 'EB Garamond', serif;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #ffffff;
}

.jumbotron h3 {
  font-family: 'EB Garamond', serif;
  margin: 0 0 20px;
  color: #ffffff;
}

#jumbotron-caption {
  margin-bottom: 120px;
}

div.container-fluid{
  margin-bottom: 90px;
  margin-top: 120px;
}

div.container-fluid-about {
  margin-top: 120px;
}

div.col-sm-12-blog-content {
  align-items: center;
  text-align: center;
}

div.col-sm-12-photo-content {
  align-items: center;
  text-align: center;
}

div.col-sm-1 {
  margin-left: 0.25%;
  margin-right: 0.25%;
  margin-bottom: 25px;
}

div.col-sm-4 {
  text-align: center;
}

div.col-sm-8 {
  padding-right: 10%;
}

div.blog-body-content {
  margin-right: 15%;
  margin-left: 15%;
}

div.photos-body-content {
  align-items: center;
  text-align: center;
}

footer {
  display: flex;
  justify-content: flex-end;
}

p.footer-caption {
  font-family: 'EB Garamond', serif;
  font-weight: 800;
  font-size: 18px;
  margin-right: 13%;
}

p.headshot-description {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  font-size: 20px;
  padding: 0;
  border: 0;
  margin-bottom: -15px;
  margin-top: 0px;
}

p.back-to-button {
  text-align: right;
  padding-right: 10%;
}

.btn.btn-outline-link:hover {
  color: #ffffff;
  background-color: #add8e6;
}

img.professional-headshot {
  border-radius: 50%;
}

img.Blog-Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 750px;
  height: auto;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

img.Blog-Image:hover {
  opacity: 0.7;
  cursor: pointer;
}

img.blogThumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px;
  height: auto;
}

img.photosThumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px;
  height: auto;
}

img.sunsetPhotos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 900px;
  height: auto;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 750px;
}

.carousel-caption{
  margin-top: 200px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: #007bff;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: none;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #007bff;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #007bff;
}

#aboutDescription {
  /* padding-right:10px; */
  padding-left: 25px;
}


#carouselSunsets {
  margin-top: 120px;
  padding-bottom: 40px;
}


#leafletCovid {
  /* height: 1000px;
  width: 1137px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* max-width: 750px; */
  height: auto;
}

/* Image modal (background */
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


/* Modal Content (Image) */
/* .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
} */

#modalImg {
  /* width:100%;
  max-width:1000px;
  height:auto;
  margin:20px auto 10px; */
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
  animation-name: zoom;
  animation-duration: 0.6s;
}


#captionText {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  animation-name: zoom;
  animation-duration: 0.6s;
}



/* Add Animation - Zoom in the Modal */
/* .modal-content, .image-caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}*/

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
} 

/* The Close Button */
.close {
  position: absolute;
  top: 90px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#close:hover,
#close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}



/* 100% Image Width on Smaller Screens */
/* @media only screen and (max-width: 1000px){
  .modal-content {
    width: 100%;
  }
} */

.covidPlotly {
  border: 0; 
  width:100%; 
  height: 500px; 
  overflow: auto; 
  margin-bottom: 75px;
}
