html{
 height: 100%;
 width: 100%;
}

body {
  background-color: #F8F3BC;
  width: 100%;
  height: 100%;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}

header {
  padding: 20px 0;
}

header.row {
  display: flex;
  align-items: right;
}

footer.containter-fluid {
  display: flex;
  align-items: right;
}

h1 {
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-family: 'EB Garamond', serif;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: #F8F3BC;
  border-bottom: #d73e39 solid 1px;
}

a.contact-button {
  padding: 0 20px;
  margin: 0;
  font-size: 24px;
  font-family: 'EB Garamond', serif;
}

a {
  color: #007bff;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url(Jumbotron_Image.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  height: 400px;
  margin-top: 80px;
 }

.jumbotron h2 {
  font-family: 'EB Garamond', serif;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #ffffff;
}

.jumbotron h3 {
  font-family: 'EB Garamond', serif;
  margin: 0 0 20px;
  color: #ffffff;
}

#jumbotron-caption {
  margin-bottom: 120px;
}

div.container-fluid{
  margin-bottom: 90px;
  margin-top: 120px;
}

div.container-fluid-about {
  margin-top: 120px;
}

div.col-sm-12-blog-content {
  align-items: center;
  text-align: center;
}

div.col-sm-12-photo-content {
  align-items: center;
  text-align: center;
}

div.col-sm-1 {
  margin-left: 0.25%;
  margin-right: 0.25%;
  margin-bottom: 25px;
}

div.col-sm-4 {
  text-align: center;
}

div.col-sm-8 {
  padding-right: 10%;
}

div.blog-body-content {
  margin-right: 15%;
  margin-left: 15%;
}

div.photos-body-content {
  align-items: center;
  text-align: center;
}

footer {
  display: flex;
  justify-content: flex-end;
}

p.footer-caption {
  font-family: 'EB Garamond', serif;
  font-weight: 800;
  font-size: 18px;
  margin-right: 13%;
}

p.headshot-description {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  font-size: 20px;
  padding: 0;
  border: 0;
  margin-bottom: -15px;
  margin-top: 0px;
}

p.back-to-button {
  text-align: right;
  padding-right: 10%;
}

.btn.btn-outline-link:hover {
  color: #ffffff;
  background-color: #add8e6;
}

img.professional-headshot {
  border-radius: 50%;
}

img.Blog-Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 750px;
  height: auto;
}

img.blogThumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px;
  height: auto;
}

img.photosThumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px;
  height: auto;
}

img.sunsetPhotos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 900px;
  height: auto;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 750px;
}

.carousel-caption{
  margin-top: 200px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: #007bff;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: none;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #007bff;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #007bff;
}

#aboutDescription {
  /* padding-right:10px; */
  padding-left: 25px;
}


#carouselSunsets {
  margin-top: 120px;
  padding-bottom: 40px;
}